<%# NAVBAR %>
<div class="grid grid-cols-3 items-center w-full py-5 h-28">
    <%# Logo %>
    <div class="justify-self-start">
        <%= link_to root_path do %>
            <%= image_tag "logo.png", alt: "logo", class: "h-20" %>
        <% end %>
    </div>

    <div class="justify-self-center">
        <%= render "search/form" %>
    </div>

    <div class="justify-self-end">
        <!-- caso di un utente loggato e completato (dropdown) -->
        <% if user_signed_in? && current_user.completed? %>
        <div
            data-controller="dropdown"
            data-action="click@window->dropdown#hide touchstart@window->dropdown#hide keydown.up->dropdown#previousItem keydown.down->dropdown#nextItem keydown.esc->dropdown#hide"
            class="inline-block relative">
            
            <button data-action="dropdown#toggle:stop">
                <%= render 'profiles/avatar', user: current_user, size_class: "h-14 w-14 rounded-full" %>
            </button>
            <div data-dropdown-target="menu" class="hidden absolute top-10 right-0 z-10 mt-5 flex w-screen max-w-max ">
                <div class="text-base card overflow-hidden w-48">
                    <% unless current_user.admin? %>
                        <a data-dropdown-target="menuItem" href="<%= profile_path(current_user) %>" class='no-underline block pl-6 py-3 text-slate-900 bg-white hover:bg-slate-100 whitespace-nowrap'>
                        Profilo
                        </a>
                        <a data-dropdown-target="menuItem" href="<%= user_path(1) %>" class='no-underline block pl-6 py-3 text-slate-900 bg-white hover:bg-slate-100 focus:bg-slate-100'>
                        Chatta con l'assistenza
                        </a>
                    <% end %>
                    <% if current_user.client? %>
                        <%= link_to "Menu preferiti", favorites_path, class: 'w-full text-left no-underline block pl-6 py-3 text-slate-900 bg-white hover:bg-slate-100 whitespace-nowrap focus:bg-slate-100' %>
                        <%= link_to "Prenotazioni", reservations_path, class: 'w-full text-left no-underline block pl-6 py-3 text-slate-900 bg-white hover:bg-slate-100 whitespace-nowrap focus:bg-slate-100' %>
                    <% end %>
                    <% if current_user.chef? %>
                        <%= link_to "I miei menu", menus_profile_path(current_user), class: 'w-full text-left no-underline block pl-6 py-3 text-slate-900 bg-white hover:bg-slate-100 whitespace-nowrap focus:bg-slate-100' %>
                        <%= link_to "Prenotazioni", reservations_path, class: 'w-full text-left no-underline block pl-6 py-3 text-slate-900 bg-white hover:bg-slate-100 whitespace-nowrap focus:bg-slate-100' %>
                        <%= link_to "Menu", menus_path, class: 'w-full text-left no-underline block pl-6 py-3 text-slate-900 bg-white hover:bg-slate-100 whitespace-nowrap focus:bg-slate-100' %>
                    <% end %>
                    <% if current_user.admin? %>
                        <%= link_to "Utenti", profiles_path, class: 'w-full text-left no-underline block pl-6 py-3 text-slate-900 bg-white hover:bg-slate-100 whitespace-nowrap focus:bg-slate-100' %>   
                        <%= link_to "Prenotazioni", reservations_path, class: 'w-full text-left no-underline block pl-6 py-3 text-slate-900 bg-white hover:bg-slate-100 whitespace-nowrap focus:bg-slate-100' %>
                        <%= link_to "Menu", menus_path, class: 'w-full text-left no-underline block pl-6 py-3 text-slate-900 bg-white hover:bg-slate-100 whitespace-nowrap focus:bg-slate-100' %>
                    <% end %>
                    <hr class="border-t" />
                    <%= button_to "Esci", destroy_user_session_path, method: :delete, data: { turbo: false }, class: 'w-full text-left no-underline block pl-6 py-3 text-slate-900 bg-white hover:bg-slate-100 whitespace-nowrap focus:bg-slate-100' %> 
                </div>
            </div>
        </div>
        <!-- caso di un utente loggato ma non completato -->
        <% elsif user_signed_in? && !current_user.completed? %>
            <%= button_to destroy_user_session_path, method: :delete, data: { turbo: false }, class: 'btn btn-outline-bigger justify-self-right' do %>
                <%= inline_svg_tag 'icons/sign-out.svg', class: 'w-6 h-6 mr-3' %>
                Esci
            <% end %>
        <% elsif !user_signed_in? %>
        <!-- caso di un utente non loggato -->
            <%= link_to new_user_session_path, class: 'btn btn-outline-bigger justify-self-right' do %>
                <%= inline_svg_tag 'icons/log-in.svg', class: 'w-6 h-6 mr-3' %>
                Accedi
            <% end %>
            <%#= link_to "Registrati", new_user_registration_path, class: 'btn btn-outline-bigger' %>
        <% end %>
    </div>
</div>