<!-- questo file contiene il check per gli errori SIA dei campi 'normali' (in pratica la cosa di devise/shared/_error_messages.html.erb),
SIA dei campi aggiuntivi -->

<% if resource.errors.any? || @user.errors.any? || (@chef && @chef.errors.any?) || (@client && @client.errors.any?) %>
  <div id="error_explanation" data-turbo-cache="false">
    <h2>
      <%= I18n.t("errors.messages.not_saved",
                 count: resource.errors.count + @user.errors.count + (@chef&.errors&.count || 0) + (@client&.errors&.count || 0),
                 resource: resource.class.model_name.human.downcase)
       %>
    </h2>
    <ul>
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>

      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>

      <% if @chef %>
        <% @chef.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      <% end %>

      <% if @client %>
        <% @client.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      <% end %>
    </ul>
  </div>
<% end %>