  <%# Avatar %>
<div class="field">
  <%= f.label :avatar %><br />
  <%= f.file_field :avatar %>
  <% if @user.avatar.present? %>
    <%= image_tag(@user.avatar, class: "avatar") %> <!-- immagine caricata -->
  <% elsif @user.avatar_url.present? %>
    <%= image_tag(@user.avatar_url, class: "avatar") %> <!-- immagine caricata -->
  <% end %>
</div>

<div class="field">
  <%= f.label :nome %><br />
  <%= f.text_field :nome, value: f.object.persisted? ? (f.object.nome.presence || f.object.reload.nome) : f.object.nome %>
</div>

<div class="field">
  <%= f.label :cognome %><br />
  <%= f.text_field :cognome, value: f.object.persisted? ? (f.object.cognome.presence || f.object.reload.cognome) : f.object.cognome %>
</div>




<% if @user.ruolo == "chef" %>
  <%= f.fields_for :chef, @chef || Chef.new do |chef_form| %>
    <div class="field">
      <%= chef_form.label :indirizzo %><br />
      <%= chef_form.text_field :indirizzo, value: @chef.persisted? ? (@chef.indirizzo.presence || @chef.reload.indirizzo) : @chef.indirizzo %>
    </div>

    <div class="field">
      <%= chef_form.label :telefono %><br />
      <%= chef_form.text_field :telefono, value: @chef.persisted? ? (@chef.telefono.presence || @chef.reload.telefono) : @chef.telefono %>
    </div>

    <div class="field">
      <%= chef_form.label :raggio %><br />
      <%= chef_form.number_field :raggio, value: @chef.persisted? ? (@chef.raggio.presence || @chef.reload.raggio) : @chef.raggio %>
    </div>

    <div class="field">
      <%= chef_form.label :descrizione %><br />
      <%= chef_form.text_area :descrizione, value: @chef.persisted? ? (@chef.descrizione.presence || @chef.reload.descrizione) : @chef.descrizione %>
    </div>
  <% end %>
  
<% elsif @user.ruolo == "client" %>
  <%= f.fields_for :client, @client || Client.new do |client_form| %>
    <div class="field">
      <div
        data-controller="places-autocomplete"
        data-action="google-maps-callback@window->places-autocomplete#initAutocomplete"
        data-places-autocomplete-country-value='["it"]'
      >
        <%= client_form.label :indirizzo %><br />
        <%= client_form.text_field :indirizzo, value: @client.persisted? ? (@client.indirizzo.presence || @client.reload.indirizzo) : @client.indirizzo, data: { action: "keydown->places-autocomplete#preventSubmit", places_autocomplete_target: "address" }, placeholder: "Search a location" %>
      </div>  
    </div>

    <div class="field">
      <%= client_form.label :telefono %><br />
      <%= client_form.text_field :telefono, value: @client.persisted? ? (@client.telefono.presence || @client.reload.telefono) : @client.telefono %>
    </div>

    <div>
      <%= client_form.label :allergeni, "Seleziona gli allergeni:" %><br>
      <% Menu::ALLERGENI.each do |allergene| %>
        <div>
          <%= hidden_field_tag "user[client_attributes][allergeni][#{allergene}]", "false" %>
          <%= check_box_tag "user[client_attributes][allergeni][#{allergene}]", "true", @client.allergeni&.dig(allergene) == "true" %>
          <%= label_tag "user_client_attributes_allergeni_#{allergene}", allergene.capitalize %>
        </div>
      <% end %>
    </div>

  <% end %>
<% end %>