 

<% if user_signed_in? && current_user.completed == 2 %>
    <div class="p-5 flex gap-5 bg-white border">
        <% if current_user.chef? %>
            <%= link_to "Crea un nuovo menu", new_menu_path, class: "btn btn-primary" %>
            <%= link_to "Prenotazioni", reservations_path %>
            <%= link_to "Menu", menus_path %>
            <%= link_to "Profilo", profile_path(current_user) %>
        <% elsif current_user.client? %>
            <%= link_to "Menu", menus_path %>
            <%= link_to "Menu preferiti", favorites_path, class: "btn btn-primary" %>
            <%= link_to "Prenotazioni", reservations_path %>
            <%= link_to "Profilo", profile_path(current_user) %>
        <% elsif current_user.admin? %>
            <%= link_to "Utenti", profiles_path %>   
            <%= link_to "Prenotazioni", reservations_path %>
            <%= link_to "Menu", menus_path %>
        <% end %>
    </div>
<% end %>



