<%= link_to profile_path(user) do %>
    <div class="card card-content flex items-center justify-between gap-10" id=<%= user.id %>>
        <div class="flex gap-4">
            <%= render partial: "avatar", locals: { user: user, size_class: "h-16 w-16" } %>
            <h3 class="flex flex-col justify-center">
                <%= user.nome + " " + user.cognome%>
            </h3>
        </div>
        <div>
            <% if user.access_locked? %>
                <%= render partial: "shared_partials/status", locals: {colore: "destructive", testo: "Bloccato" } %>
            <% else %>
                <%= render partial: "shared_partials/status", locals: {colore: "success", testo: "Attivo" } %>
            <% end %> 
        </div>
    </div>
<% end %>