
<div data-controller="tabs" data-tabs-active-tab-class="-mb-px border-l border-t border-r rounded-t">
  <div class="list-reset flex border-b">
    <div class="-mb-px mr-1 cursor-pointer" data-tabs-target="tab" data-action="click->tabs#change:prevent" id >
      <a class="bg-white inline-block py-2 px-4 text-blue-500 hover:text-blue-700 font-semibold no-underline"
        data-action="keydown.left->tabs#previousTab keydown.right->tabs#nextTab keydown.home->tabs#firstTab:prevent keydown.end->tabs#lastTab:prevent"
      >Chef</a>
    </div>
    <div class="mr-1 cursor-pointer" data-tabs-target="tab" data-action="click->tabs#change:prevent" id="clienti">
      <a class="bg-white inline-block py-2 px-4 text-blue-500 hover:text-blue-700 font-semibold no-underline"
        data-action="keydown.left->tabs#previousTab keydown.right->tabs#nextTab keydown.home->tabs#firstTab:prevent keydown.end->tabs#lastTab:prevent"
      >Clienti</a>
    </div>
    <div class="mr-1 cursor-pointer" data-tabs-target="tab" data-action="click->tabs#change:prevent">
      <a class="bg-white inline-block py-2 px-4 text-blue-500 hover:text-blue-700 font-semibold no-underline" data-action="keydown.left->tabs#previousTab keydown.right->tabs#nextTab keydown.home->tabs#firstTab:prevent keydown.end->tabs#lastTab:prevent">Tutti</a>
    </div>
  </div>

  <div class="hidden py-4 px-4 border-l border-b border-r" data-tabs-target="panel" data-id="chef">
    <% if @chefs.any? %>
        <% @chefs.each do |user| %>
            <div>
                <%= user.email %>
                <%= user.nome %>
                <%= user.ruolo %>
                <%= link_to "Show", profile_path(user.id) %>
            </div>
        <% end %>
    <% end %>

  </div>
<div class="hidden py-4 px-4 border-l border-b border-r" data-tabs-target="panel" data-id="client">
    
    <% if @clients.any? %>
        <% @clients.each do |user| %>
            <div>
                <%= user.email %>
                <%= user.nome %>
                <%= user.ruolo %>
                <%= link_to "Show", profile_path(user.id) %>
            </div>
        <% end %>
    <% end %>

  </div>
  <div class="hidden py-4 px-4 border-l border-b border-r" data-tabs-target="panel" data-id="all">

    <% if @users.any? %>
        <% @users.each do |user| %>
            <div>
                <%= user.email %>
                <%= user.nome %>
                <%= user.ruolo %>
                <%= link_to "Show", profile_path(user.id) %>
            </div>
        <% end %>
    <% end %>
  </div>

</div>
