<%= form_with model: @menu, data: { controller: 'nested-form', nested_form_wrapper_selector_value: '.nested-form-wrapper' } do |form| %>
    <!-- Mostriamo eventuali errori legati alla validazione del modello -->
    <% if form.object.errors.any? %>
        <% form.object.errors.full_messages.each do |message| %>
        <div> <%= message %> </div>
        <% end %>
    <% end %>

    <!-- Mostriamo i contenuti del modello -->
    <div>
        <%= form.label :titolo %>
        <%= form.text_field :titolo, value: @menu.persisted? ? (@menu.titolo.presence || @menu.reload.titolo) : @menu.titolo %>
    </div>

    <div>
        <%= form.label :descrizione %>
        <%= form.rich_text_area :descrizione, value: @menu.persisted? ? (@menu.descrizione.presence || @menu.reload.descrizione) : @menu.descrizione %>
    </div>

    <!-- Sezione Piatti -->
    <h3>Piatti</h3>
    
    <!-- Stimulus Rails Nested Form -->
    <template data-nested-form-target="template">
        <%= form.fields_for :dishes, Dish.new, child_index: 'NEW_RECORD' do |dish_fields| %>
            <%= render "dish_form", f: dish_fields %>
        <% end %>
    </template>

    <%= form.fields_for :dishes do |dish_fields| %>
        <%= render "dish_form", f: dish_fields %>
    <% end %>

    <div data-nested-form-target="target"></div>

    <button type="button" data-action="nested-form#add">Aggiungi piatto</button>
    

    <div>
        <%= form.label :prezzo_persona %>
        <%= form.number_field :prezzo_persona, step: '0.01', value: @menu.persisted? ? (@menu.prezzo_persona.presence || @menu.reload.prezzo_persona) : @menu.prezzo_persona %>
    </div>

    <div>
        <%= form.label :min_persone %>
        <%= form.number_field :min_persone, step: 1, value: @menu.persisted? ? (@menu.min_persone.presence || @menu.reload.min_persone) : @menu.min_persone %>
    </div>

    <div>
        <%= form.label :max_persone %>
        <%= form.number_field :max_persone, step: 1, value: @menu.persisted? ? (@menu.max_persone.presence || @menu.reload.max_persone) : @menu.max_persone %>
    </div>

    <div>
        <%= form.label :tipo_cucina %>
        <!-- Usiamo map per mostrare la prima lettera maiuscola (pur inviando al server la stringa minuscola) -->
        <%= form.select :tipo_cucina, options_for_select(Menu::TIPI_CUCINA.map { |tipo| [tipo.capitalize, tipo] }, @menu.tipo_cucina) %>
    </div>

    <div>
        <%= form.label :allergeni, "Seleziona gli allergeni:" %><br>
        <% Menu::ALLERGENI.each do |allergene| %>
        <div>
            <%= hidden_field_tag "menu[allergeni][#{allergene}]", "false" %>
            <%= check_box_tag "menu[allergeni][#{allergene}]", "true", @menu.allergeni&.dig(allergene) == "true" %>
            <%= label_tag "menu_allergeni_#{allergene}", allergene.capitalize %>
        </div>
        <% end %>
    </div>

    <div>
        <%= form.label :preferenze_alimentari, "Seleziona le preferenze alimentari:" %><br>
        <% Menu::PREFERENZE_ALIMENTARI.each do |preferenza| %>
        <div>
            <%= hidden_field_tag "menu[preferenze_alimentari][#{preferenza}]", "false" %>
            <%= check_box_tag "menu[preferenze_alimentari][#{preferenza}]", "true", @menu.preferenze_alimentari&.dig(preferenza) == "true" %>
            <%= label_tag "menu_preferenze_alimentari_#{preferenza}", preferenza.capitalize %>
        </div>
        <% end %>
    </div>

    <div>
        <%= form.label :adattabile, "Seleziona l'adattabilità rispetto agli allergeni e alle preferenze alimentari:" %><br>
        <div> Adattabile per le preferenze alimentari 
            <% Menu::PREFERENZE_ALIMENTARI.each do |preferenza| %>
            <div>
                <%= hidden_field_tag "menu[adattabile][preferenze][#{preferenza}]", "false" %>
                <%= check_box_tag "menu[adattabile][preferenze][#{preferenza}]", "true", @menu.adattabile&.dig("preferenze", preferenza) == "true" %>
                <%= label_tag "menu_adattabile_preferenze_#{preferenza}", "Adattabile per " + preferenza %>
            </div>
            <% end %>
        </div>
        <div> Adattabile per gli allergeni 
            <% Menu::ALLERGENI.each do |allergene| %>
            <div>
                <%= hidden_field_tag "menu[adattabile][allergeni][#{allergene}]", "false" %>
                <%= check_box_tag "menu[adattabile][allergeni][#{allergene}]", "true", @menu.adattabile&.dig("allergeni", allergene) == "true" %>
                <%= label_tag "menu_adattabile_allergeni_#{allergene}", "Adattabile per " + allergene %>
            </div>
            <% end %>
        </div>
    </div>

    <div>
        <%= form.label :extra, 'Seleziona gli extra:' %><br>
        <% Menu::EXTRA.each do |extra| %>
        <div>
            <%= hidden_field_tag "menu[extra][#{extra}]", "false" %>
            <%= check_box_tag "menu[extra][#{extra}]", "true", @menu.extra&.dig(extra) == "true" %>
            <%= label_tag "menu_extra_#{extra}", extra.capitalize %>
        </div>
        <% end %>
    </div>
    
    <div>
        <%= form.label :prezzo_extra %>
        <%= form.number_field :prezzo_extra, step: '0.01' %>
    </div>

    <!-- Upload delle immagini -->
    <div>
        <%= form.label :images, "Seleziona le immagini:" %><br>
        <% if @menu.images.attached? %>
            <% @menu.images.each do |image| %>
                <% unless image.new_record? %>
                    <%= form.hidden_field :images, multiple: true, value: image.signed_id %>
                    <%= image_tag(image, height: '100') %> <!-- immagine caricata -->
                    <!-- Link per mandare richiesta delete per eliminare l'immagine -->
                    <%= link_to "Elimina", remove_image_menu_path(image), data: { confirm: "Sei sicuro?", turbo_method: :delete } %>
                <% end %>
            <% end %>
        <% end %>
        <!-- Input per immagini -->
        <%= form.file_field :images, multiple: true , accept: 'image/*' %>
    </div>


<%= form.submit %>


<% end %>