<%= render partial: "profile" %>

<h1 class="align-middle"> Benvenuto su AOCHEF </h1>

<% if user_signed_in? %>
   <% if current_user.chef? %>
   <h2> Benvenuto chef </h2>
   <% elsif current_user.client? %>
   <h2> Benvenuto client </h2>
   <% elsif current_user.admin? %>
   <h2> Benvenuto admin </h2>
   <% end %>
<% end %>

<div id="menu-list">
   <% @menu.each do |menu| %>
        <h2> <%= link_to menu.titolo, menu_path(menu.id) %> </h2>
        <p> <%= menu.descrizione %> </p>
        <p> <%= menu.allergeni %> </p>
   <% end %>
</div>

<% if user_signed_in? && current_user.chef? %>
   <h3> <%= link_to "Crea un nuovo menu", new_menu_path %> </h3>
<% end %>


<script type="module">
   import "infinite_scroll"
</script>