
<% if @user.present? %>
   <% if user_signed_in? && current_user == @user %>
      <div class="flex justify-between items-center">
         <h2 class="page-title">I tuoi menu</h2>
         <%= button_to new_menu_path, method: :get do %>
               <div class="btn btn-default flex items-center gap-2">
                  <%= inline_svg_tag "icons/plus.svg", class: "w-6 h-6 icon-default" %>
                  <p>Crea un nuovo menu</p>
               </div>
         <% end %> 
      </div>
   <% else %>
      <h2 class="page-title">Menu di <%= @user.nome %> <%= @user.cognome %></h2>
   <% end %>
<% else %>
   <h2 class="page-title">Menu</h2>
<% end %>


<div id="menu-list" class="grid grid-cols-4 gap-8 ">
   <% @menus.each do |menu| %>
      <%= render partial: "menus/menu_card", locals: {menu: menu} %>
   <% end %>
</div>


<script>
   document.addEventListener("DOMContentLoaded", () => {
    const menuList = document.getElementById("menu-list");
    if (!menuList) return;
    let page = 1;
    const maxPages = <%= @total_pages %>;
      console.log(maxPages);

    const loadMore = () => {
         const test = document.getElementById("menu-list");
         if (!test) return;
         const scrollPosition = window.innerHeight + window.scrollY;
         const documentHeight = document.documentElement.scrollHeight;
         const scrollThreshold = documentHeight * 0.6; // 60% della pagina
         console.log(scrollPosition, documentHeight, scrollThreshold);
         if (scrollPosition >= scrollThreshold && page < maxPages) {
               page += 1;
               fetch(`/menus?page=${page}`, {
                  headers: { Accept: "text/vnd.turbo-stream.html" },
               })
                  .then((response) => response.text())
                  .then((html) => Turbo.renderStreamMessage(html))
                  .catch((error) => console.error("Error loading more menus:", error));
         }
    };

    const debounce = (func, wait) => {
        let timeout;
        return function(...args) {
            const later = () => {
                clearTimeout(timeout);
                func(...args);
            };
            clearTimeout(timeout);
            timeout = setTimeout(later, wait);
        };
    };

    window.addEventListener("scroll", debounce(loadMore, 200));
});
</script>