<%= render "search/form"%>
<%= render partial: "shared_partials/mini_header" %>
<%= link_to "Chat", rooms_path %>

<h1 class="align-middle"> Benvenuto su AOCHEF </h1>

<% if user_signed_in? %>
   <% if current_user.chef? %>
   <h2> Benvenuto chef </h2>
   <% elsif current_user.client? %>
   <h2> Benvenuto client </h2>
   <% elsif current_user.admin? %>
   <h2> Benvenuto admin </h2>
   <% end %>
   <% if current_user.client? %>
      <%= link_to "Menu preferiti", favorites_path %>
   <% end %>
<% end %>

<div id="menu-list">
   
   <% @menus.each do |menu| %>
      <%= render partial: "shared_partials/menu_card", locals: {menu: menu} %>
   <% end %>
   
</div>

<% if user_signed_in? && current_user.chef? %>
   <h3> <%= link_to "Crea un nuovo menu", new_menu_path %> </h3>
<% end %>


<script type="module">
   import "infinite_scroll"
</script>