  <div class="flex flex-col lg:flex-row gap-4">
    <div class="flex flex-col gap-4 <%= user_signed_in? && current_user.client? ? "lg:w-2/3" : "lg:w-full" %>">
      <!-- Titolo, preferiti e immagini -->
      <div class="card card-content flex flex-col gap-4">
        <div class="flex justify-between items-center gap-4">
          <h2 class="text-4xl font-bold"><%= @menu.titolo %></h2>
          <div class="flex justify-end items-center gap-4">
            <% if user_signed_in? %>
              <% if current_user.client? %>
                <%= button_to favorites_menu_path, method: :put do %>
                  <div id="favorite-button" class="btn btn-outline flex items-center gap-4">
                    <%= inline_svg_tag "icons/heart.svg", class: "w-6 h-6 #{favorite_class}" %>
                    <p><%= favorite_text %></p>
                  </div>
                <% end %>
              <% elsif current_user.chef? && @menu.chef == current_user.chef %>
                <%= button_to edit_menu_path, method: :get do %>
                  <div class="btn btn-outline flex items-center gap-4">
                    <%= inline_svg_tag "icons/edit.svg", class: 'w-6 h-6 icon-secondary' %>
                    <p>Modifica</p> 
                  </div>
                <% end %>
              <% end %>
              <% if current_user.admin? || (current_user.chef? && @menu.chef == current_user.chef) %>
                <% if @menu.disattivato %>
                  <%= button_to riattiva_menu_path(@menu), method: :post, data: { turbo: false } do %>
                    <div class="btn btn-secondary flex items-center gap-4">
                      <%= inline_svg_tag "icons/show.svg", class: 'w-6 h-6 icon-secondary' %>
                      <p>Attiva</p>
                    </div>
                  <% end %>
                <% else %>
                  <%= button_to disattiva_menu_path(@menu), method: :post, data: { turbo: false } do %>
                    <div class="btn btn-secondary flex items-center gap-4">
                      <%= inline_svg_tag "icons/no-show.svg", class: 'w-6 h-6 icon-secondary' %>
                      <p>Disattiva</p>
                    </div>
                  <% end %>
                <% end %>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="flex gap-1 justify-between flex-wrap">
            <% if @menu.images.attached? %>
              <% @menu.images.first(3).each do |image| %>
                <%= image_tag(image, class: "h-72") %>
              <% end %>
            <% end %>
          </div>
          <div>
            <p class="text-lg"><%= raw @menu.descrizione %></p>
          </div>
      </div>
      <!-- Chef -->
      <%= link_to profile_path(@menu.chef.user) do %>
      <div class="card card-content">
        <div class="flex items-center gap-4">
          <%= render partial: "profiles/avatar", locals: {user: @menu.chef.user, size_class:"h-20 w-20"} %>
          <div class="space-y-2 w-full">
            <div class="flex justify-between items-center">
              <p class="text-2xl font-bold"><%= @menu.chef.user.nome %> <%= @menu.chef.user.cognome %></p>
                <%= render partial: "profiles/stars", locals: {valutation: @chef_valutation} %>
            </div>
            <div class="">
              <p class="text-lg line-clamp-3 "><%= raw @menu.chef.descrizione %></p>
            </div>
          </div>
        </div>
      </div>
      <% end %>
      <div class="grid grid-cols-2 gap-4">
        <!-- Dettagli -->
        <div class="card card-content  ">
          <h3 class="card-title">Dettagli</h3>
          <div class="flex gap-2 items-center py-2">
            <%= inline_svg_tag "icons/euro.svg", class: 'w-6 h-6 icon-secondary' %>
            <p>Prezzo a persona: <%= number_to_currency(@menu.prezzo_persona, unit: "€")%></p>
          </div>
          <div class="flex gap-2 items-center py-2">
            <%= inline_svg_tag "icons/groups.svg", class: 'w-6 h-6 icon-secondary' %>
            <p>Numero persone: <%= @menu.min_persone %> - <%= @menu.max_persone %></p>
          </div>
          <div class="flex gap-2 items-center py-2">
            <%= inline_svg_tag "icons/restaurant.svg", class: 'w-6 h-6 icon-secondary' %>
            <p><%= @menu.tipo_cucina %></p>
          </div>
        </div>
        <!-- Extra -->
        <div class="card card-content  ">
          <h3 class="card-title">Puoi aggiungere:</h3>
          <% if @menu.extra["vino"].to_i > 0 %>
          <div class="flex gap-2 items-center py-2">
            <%= inline_svg_tag "icons/wine.svg", class: 'w-6 h-6 icon-secondary' %>
            <p>Vino: <%= @menu.extra["vino"].to_f.round(2) %> € a persona</p>
          </div>
          <% end %>
          <% if @menu.extra["miseenplace"].to_i > 0 %>
          <div class="flex gap-2 items-center py-2">
            <%= inline_svg_tag "icons/mise.svg", class: 'w-6 h-6 icon-secondary' %>
            <p>Mise en place: <%= @menu.extra["miseenplace"].to_f.round(2) %> € a persona</p>
          </div>
          <% end %>
        </div>
      </div>
      <!-- Piatti -->
      <div class="card card-content">
        <h3 class="card-title">
        Piatti</h2>
        <% if @menu.dishes.any? %>
        <% is_odd = @menu.dishes.count.odd? %>
        <div class="grid grid-cols-2 gap-x-16 gap-y-6">
          <% @menu.dishes.sort_by { |piatto| ['Antipasto', 'Primo', 'Secondo', 'Dolce'].index(piatto.tipo_portata) }.each_with_index do |piatto, index| %>
          <div class=" pb-4 border-b border-b-slate-200">
            <div class="flex justify-between items-center">
              <p class="font-semibold"><%= piatto.nome %></p>
              <p class="text-base text-slate-500"><%= piatto.tipo_portata %></p>
            </div>
            <p>Ingredienti: <%= piatto.ingredienti %></p>
          </div>
          <% end %>
        </div>
        <% else %>
        <p>Non ci sono piatti associati a questo menu.</p>
        <% end %>
      </div>
      <!-- Allergeni e Preferenze Alimentari -->
      <div class="card card-content space-y-3">
        <h3 class="card-title">Allergeni e Preferenze Alimentari</h3>
        <div class="grid grid-cols-2 gap-y-6 gap-x-16">
          <div>
            <h4 class="card-secondary-title mb-2">Presenti:</h4>
            <% allergeni_presenti = @menu.allergeni.select { |allergene, presente| presente == "true" } if @menu.allergeni.present? %>
            <% preferenze_presenti = @menu.preferenze_alimentari.select { |preferenza, presente| presente == "true" } if @menu.preferenze_alimentari.present? %>
            <% presenti = (allergeni_presenti || {}).merge(preferenze_presenti || {}) %>
            <% if presenti.any? %>
              <div class="flex flex-col gap-2">
                <%= render partial: "profiles/allergeni", locals: {allergeni: presenti} %>
              </div>
            <% else %>
            <p>Nessun allergene o preferenza alimentare registrata.</p>
            <% end %>
          </div>
          <div>
            <h4 class="card-secondary-title mb-2">Adattabile per:</h4>
            <%# <% if (@menu.allergeni.present? && @menu.allergeni[nome] == "true") || (@menu.preferenze_alimentari.present? && @menu.preferenze_alimentari[nome] == "true") %>
            <% adattabile_allergeni = @menu.adattabile["allergeni"].select { |adattamento, presente| presente == "true" && allergeni_presenti[adattamento] == "true" } if @menu.adattabile.present? && @menu.adattabile["allergeni"].present? %>
            <% adattabile_preferenze = @menu.adattabile["preferenze"].select { |adattamento, presente| presente == "true" && preferenze_presenti[adattamento] == "true" } if @menu.adattabile.present? && @menu.adattabile["preferenze"].present? %>
            <% adattabili = (adattabile_allergeni || {}).merge(adattabile_preferenze || {}) %>
            <% if adattabili.any? %>
              <div class="flex flex-col gap-2">
                <%= render partial: "profiles/allergeni", locals: {allergeni: adattabili, type: "success"} %>
              </div>
            <% else %>
            <p>Non è possibile adattare il menu per allergeni o preferenze alimentari.</p>
            <% end %>
          </div>
        </div>
      </div>
      <!-- Recensioni -->
      <% if @menu_reviews && @menu_reviews.any? %>
      <div class="grid grid-cols-3 gap-4">
        <% @menu_reviews.each do |review| %>
        <div class="card card-content space-y-2">
          <div class="flex items-center">
              <%= render partial: "profiles/stars", locals: {valutation: review.valutazione} %>
          </div>
          <p><%= review.commento %></p>
          <%# Se admin  %>
          <% if user_signed_in? && current_user.admin? %>
            <%= button_to reservation_path(review.reservation), method: :get do %>
              <div class="btn-link">Vai alla prenotazione</div>
            <% end %>
          <% end %>
        </div>
        <% end %>
      </div>
      <% end %>
    </div>
    <%# PRENOTAZIONE %>
    <% if user_signed_in? && current_user.client? %>
    <div class="lg:w-1/3">
      <div class="sticky top-6 card">
        <div class="card-content">
          <h2 class="text-2xl font-bold">Prenota</h2>
          <div class="">
            <%= form_with model: Reservation, url: reservations_path, data: {
              controller: "flatpickr",
              flatpickr_disabled_dates_value: @disabled_dates.to_json
              }, local: true, html: {class:"form"} do |f| %>
            <%= f.hidden_field :menu_id, value: @menu.id %> 
            <div
              data-controller="places-autocomplete"
              data-action="google-maps-callback@window->places-autocomplete#initAutocomplete"
              data-places-autocomplete-country-value='["it"]'
              class="form-divs"
              >
              <%= f.label :indirizzo_consegna %>
              <%= f.text_field :indirizzo_consegna, class:"input", id: "indirizzo_consegna", value: current_user.client.indirizzo, data: { action: "keydown->places-autocomplete#preventSubmit", places_autocomplete_target: "address" }, placeholder: "Cerca un indirizzo" %>
            </div>
            <div class="form-divs"> 
              <%= f.label :num_persone, "Numero di persone" %>
              <%= f.number_field :num_persone, class: "input", min: @menu.min_persone, max: @menu.max_persone, id: "num_persone" %>
            </div>
            <div class="form-divs">
              <%= f.label :tipo_pasto %>
              <%# Prendo i valori del campo tipo_pasto dalla classe Reservation e li mappo in un array di coppie chiave-valore, dove la chiave è il valore del campo e il valore è il campo con la prima lettera maiuscola %>
              <%= f.select :tipo_pasto, Reservation.tipo_pastos.keys.map { |tipo_pasto| [tipo_pasto.humanize, tipo_pasto] }, {}, { class: "select" } %>                
            </div>
            <div class="form-divs">
              <%= f.label :data_prenotazione %>
              <%= f.date_field :data_prenotazione, class: "datepicker input", min: Date.today, id: "data_prenotazione" %>
            </div>
            <div class="form-divs">
              <%= f.label :modifiche_richieste %>
              <%= f.text_field :modifiche_richieste, class: "input", id: "modifiche_richieste" %>
            </div>
            

            <% if @menu.extra["vino"] > 0 %>
            <%= f.hidden_field :vino, value: false %>
            <div class="form-checkbox-div">
              <%= f.check_box :vino, {id: "vino", class: "checkbox"}, true, false %>
              <%= f.label :vino, "Vino" %>
            </div>
            <% else %>
            <%= f.hidden_field :vino, value: false %>
            <% end %>
            <% if @menu.extra["miseenplace"] > 0 %>
            <%= f.hidden_field :miseenplace, value: false %>
            <div class="form-checkbox-div">
              <%= f.check_box :miseenplace, {id: "miseenplace", class: "checkbox"}, true, false %>
              <%= f.label :miseenplace, "Mise en place" %>
            </div>
            <% else %>
            <%= f.hidden_field :miseenplace, value: false %>
            <% end %>
            <div>
              <p class="text-xl font-semibold"> Prezzo totale: <span id="prezzo_totale"></span> </p>
            </div>
            <%= f.button "Prenota", type: "submit", :class=> "btn btn-default" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>




<style>
  .star-rating {
  display: inline-flex;
  }
  .star.selected {
  color: #f8d64e;
  }
  .star-rating p{
  margin-top: 8px;
  }
  .star-rating label {
  font-size: 2rem;
  color: #ddd; /* Colore grigio iniziale */
  }
</style>
<script>
  document.addEventListener("turbo:load", function() {
    const numPersoneInput = document.getElementById("num_persone");
    const vinoCheckbox = document.getElementById("vino");
    const miseenplaceCheckbox = document.getElementById("miseenplace");
    const prezzoTotaleInput = document.getElementById("prezzo_totale");
  
    const prezzoMenuPerPersona = <%= @menu.prezzo_persona %>;
    const prezzoVino = <%= @menu.extra["vino"] || 0 %>;
    const prezzoMiseenplace = <%= @menu.extra["miseenplace"] || 0 %>;
    function calcolaPrezzoTotale() {
      const numPersone = parseInt(numPersoneInput.value) || 0;
      const includeVino = vinoCheckbox ? vinoCheckbox.checked : false;
      const includeMiseenplace = miseenplaceCheckbox ? miseenplaceCheckbox.checked : false;
  
      let prezzoTotale = numPersone * prezzoMenuPerPersona;
      if (includeVino) {
        prezzoTotale += numPersone * prezzoVino;
      }
      if (includeMiseenplace) {
        prezzoTotale += numPersone * prezzoMiseenplace;
      }
  
      prezzoTotaleInput.textContent = prezzoTotale.toFixed(2) + "€";
    }
  
    numPersoneInput.addEventListener("input", calcolaPrezzoTotale);
    if (vinoCheckbox) {
      vinoCheckbox.addEventListener("change", calcolaPrezzoTotale);
    }
    if (miseenplaceCheckbox) {
      miseenplaceCheckbox.addEventListener("change", calcolaPrezzoTotale);
    }
  
  
    // Calcola il prezzo totale iniziale
    calcolaPrezzoTotale();
  });
  
</script>