<%= render partial: "shared_partials/mini_header" %>

<h1><%= @menu.titolo %></h1>
<!-- Immagini -->
<div>
  <% if @menu.images.attached? %>
      <% @menu.images.each do |image| %>
        <%= image_tag(image, height: '100') %>
        <br/>
      <% end %>
  <% end %>
</div>

<!-- Preferiti -->
<div id="favorite-button">
  <% if user_signed_in? && current_user.client? %>
    <%= button_to favorite_text, favorites_menu_path, method: :put %>
  <% end %>
</div>

<p><strong>Chef:</strong> <%= link_to @menu.chef.user.nome, profile_path(@menu.chef.user) %></p>

<p><strong>Descrizione:</strong> <%= @menu.descrizione %></p>

<p><strong>Prezzo per Persona:</strong> <%= number_to_currency(@menu.prezzo_persona, unit: "€") %></p>

<p><strong>Numero Minimo di Persone:</strong> <%= @menu.min_persone %></p>

<p><strong>Numero Massimo di Persone:</strong> <%= @menu.max_persone %></p>

<p><strong>Tipo di Cucina:</strong> <%= @menu.tipo_cucina %></p>

<p><strong>Allergeni:</strong>
  <% if @menu.allergeni.present? %>
    <ul class="m-0">
      <% @menu.allergeni.each do |allergene, presente| %>
        <li><%= "#{allergene.capitalize}: #{presente == 'true' ? 'Sì' : 'No'}" %></li>
      <% end %>
    </ul>
  <% else %>
    <p>Nessun allergene registrato.</p>
  <% end %>
</p>

<p><strong>Preferenze Alimentari:</strong>
  <% if @menu.preferenze_alimentari.present? %>
    <ul>
      <% @menu.preferenze_alimentari.each do |preferenza, presente| %>
        <li><%= "#{preferenza.capitalize}: #{presente == 'true' ? 'Sì' : 'No'}" %></li>
      <% end %>
    </ul>
  <% else %>
    <p>Nessuna preferenza alimentare registrata.</p>
  <% end %>
</p>

<p><strong>Adattabile per allergeni:</strong>
  <% if @menu.adattabile.present? && @menu.adattabile["allergeni"].present? %>
    <ul>
      <% @menu.adattabile["allergeni"].each do |adattamento, presente| %>
        <li><%= "#{adattamento.capitalize}: #{presente == 'true' ? 'Sì' : 'No'}" %></li>
      <% end %>
    </ul>
  <% else %>
    <p> Nessun adattamento per allergeni.</p>
  <% end %>
</p>

<p><strong>Adattabile per preferenze alimentari:</strong>
  <% if @menu.adattabile.present? && @menu.adattabile["preferenze"].present? %>
    <ul>
      <% @menu.adattabile["preferenze"].each do |adattamento, presente| %>
        <li><%= "#{adattamento.capitalize}: #{presente == 'true' ? 'Sì' : 'No'}" %></li>
      <% end %>
    </ul>
  <% else %>
    <p>Nessun adattamento per preferenze alimentari.</p>
  <% end %>
</p>

<p><strong>Extra:</strong>
  <% if @menu.extra.present? %>
    <ul>
      <% @menu.extra.each do |extra, presente| %>
        <li><%= "#{extra.capitalize}: #{presente == 'true' ? 'Sì' : 'No'}" %></li>
      <% end %>
    </ul>
  <% else %>
    <p>Nessun extra registrato.</p>
  <% end %>
</p>

<p><strong>Prezzo Extra:</strong> <%= number_to_currency(@menu.prezzo_extra, unit: "€") %></p>

<p><strong>Disattivato:</strong> <%= @menu.disattivato ? 'Sì' : 'No' %></p>

<% if user_signed_in? %>

  <!-- Pulsante di disattivazione -->
  <p><strong>Stato del menu:</strong>
    <% if @menu.disattivato %>
      <% if @menu.disattivato_da == 'chef' %>
        <span>Disattivato dallo Chef</span>
        <% if current_user.admin? %>
          <p>L'admin non può modificare questo menu disattivato dallo chef.</p>
        <% end %>
      <% elsif @menu.disattivato_da == 'admin' %>
        <span>Disattivato dall'Admin</span>
        <% if current_user.chef? %>
          <p>Lo chef non può modificare questo menu disattivato dall'admin.</p>
        <% end %>
      <% end %>
    <% else %>
      <!-- Menu attivo -->
      <span>Attivo</span>
      <% if current_user.chef? || current_user.admin? %>
        <%= button_to "Disattiva Menu", disattiva_menu_path(@menu), method: :post, data: { turbo: false } %>
      <% end %>
    <% end %>
  </p>

  <!-- Pulsante di riattivazione -->
  <% if @menu.disattivato && ((current_user.admin? && @menu.disattivato_da != 'chef') || (current_user.chef? && @menu.disattivato_da != 'admin')) %>
    <%= button_to "Riattiva Menu", riattiva_menu_path(@menu), method: :post, data: { turbo: false } %>
  <% end %>


  <% if current_user.chef? %>
    <h3> <%= link_to "Modifica il post", edit_menu_path %> </h3>
  <% end %>

  <% if current_user.client? %>
    <%= form_with model: Reservation, url: reservations_path, data: {
      controller: "flatpickr",
      flatpickr_disabled_dates_value: @disabled_dates.to_json
    }, local: true do |f| %>
      
      <%= f.hidden_field :extra, value: @menu.extra %>
      <%= f.hidden_field :menu_id, value: @menu.id %> 
      <%# Num Persone, TipoPasto, Data, Indirizzo di consegna %>
      <div>
        <%= f.label :indirizzo_consegna %>
        <%= f.text_field :indirizzo_consegna, class: "form-control", value: current_user.client.indirizzo %>
      </div>
      <div>
        <%= f.label :num_persone %>
        <%= f.number_field :num_persone, class: "form-control", min: @menu.min_persone, max: @menu.max_persone %>
      </div>
      <div>
        <%= f.label :tipo_pasto %>
        <%# Prendo i valori del campo tipo_pasto dalla classe Reservation e li mappo in un array di coppie chiave-valore, dove la chiave è il valore del campo e il valore è il campo con la prima lettera maiuscola %>
        <%= f.select :tipo_pasto, Reservation.tipo_pastos.keys.map { |tipo_pasto| [tipo_pasto.humanize, tipo_pasto] }, class: "form-control" %>
      </div>
      <div>
        <%= f.label :data_prenotazione %>
        <%= f.date_field :data_prenotazione, class: "datepicker", min: Date.today, id: "data_prenotazione" %>
      </div>


      <%# TODO inserire calcolo live del prezzo? %>
      <%= f.submit "Prenota" %>
    <% end %>
  <% end %>
<% end %>

