<%= search_form_for @q, url: search_path, method: :get do |f| %>
  <div class="field">
    <%= f.label :titolo_cont, "Nome menu" %>
    <%= f.search_field :titolo_cont %>
  </div>

 <div class="field">
    <%= f.label :numero_persone, "Numero di persone" %>
    <%= text_field_tag :numero_persone, params[:numero_persone], placeholder: "Es. 5" %>
  </div>

  <div class="field">
    <h3>Filtra per allergeni:</h3>
    <% ["noci", "soia", "glutine", "arachidi", "lattosio", "crostacei"].each do |allergene| %>
      <label>
        <%= check_box_tag 'allergeni[]', allergene, params[:allergeni]&.include?(allergene) %>
        <%= allergene.capitalize %>
      </label>
    <% end %>
  </div>

  <div class="field">
    <h3>Filtra per preferenze alimentari:</h3>
    <% ["vegano", "glutine"].each do |preferenza| %>
      <label>
        <%= check_box_tag 'preferenze[]', preferenza, params[:preferenze]&.include?(preferenza) %>
        <%= preferenza.capitalize %>
      </label>
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit "Search" %>
  </div>
<% end %>
