<%= search_form_for @q, url: search_path, method: :get, data: { controller: 'search' } do |f| %>
  <div class="relative">
    <button type="button" id="searchButton"  data-action="click->search#openModal" class="btn btn-default flex items-center gap-3">
      <%= inline_svg_tag "icons/search.svg", class: "w-6 h-6 icon-default" %>
      <p>Cerca</p> 
    </button>
  </div>

  <!-- Modale -->
  <div id="searchTarget" class="fixed inset-0 flex items-center justify-center bg-black/50 z-30" style="display: none;" data-search-target="modal">
    <div class="card w-11/12 md:w-2/3 2xl:w-1/3 max-h-[90vh] overflow-y-auto	">
      <div class="card-content">
        <div class="flex justify-between items-start">
          <h2 class="card-title">Filtra la tua ricerca</h2>
          <button id="closeModalButton" class="" data-action="search#closeModal">
            <%= inline_svg_tag "icons/close.svg", class: "w-6 h-6 fill-slate-500 hover:fill-slate-700 " %> 
          </button>
        </div>
        <div class="form">
          <form id="searchForm" data-search-target="form" data-action="submit->search#submitForm">
            
            <div class="form-divs">
              <%= f.label :titolo_cont, "Nome menu" %>
              <%= f.search_field :titolo_cont, class: "input" %>
            </div>

            <div class="form-divs">
              <%= f.label :numero_persone, "Numero di persone" %>
              <%= text_field_tag :numero_persone, params[:numero_persone], placeholder: "Es. 5", class:"input", id:"numPersone" %>
            </div>

            <div class="form-divs">
              <%= f.label :search_date, "Data" %>
              <%= text_field_tag :search_date, params[:search_date], class: "datepicker input", id: "search-date" %>
            </div>


            <div class="form-divs">
              <h4 class="text-lg font-semibold">Filtra per allergeni:</h4>
              <!-- Checkbox Seleziona Tutte -->
              <div>
                  <div class="form-checkbox-div mb-2">
                    <input type="checkbox" data-action="change->search#toggleAll" data-search-target="selectAllAllergeni" class="checkbox">
                    <label>Seleziona tutti</label>
                  </div>
                <div class="grid grid-cols-3 gap-1">
                  <% ["noci", "soia", "glutine", "arachidi", "lattosio", "crostacei"].each do |allergene| %>
                    <div class="form-checkbox-div">
                      <%= check_box_tag 'allergeni[]', allergene, params[:allergeni]&.include?(allergene), class:"checkbox", data: { search_target: "allergeneCheckbox" } %>
                      <label><%= allergene.capitalize %></label>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>

            <div class="form-divs">
              <h4 class="text-lg font-semibold">Filtra per preferenze alimentari:</h4>
              <div>
              <!-- Checkbox Seleziona Tutte per preferenze alimentari -->
                <div class="form-checkbox-div mb-2">
                  <input type="checkbox" data-action="change->search#toggleAll" data-search-target="selectAllPreferenze" class="checkbox">
                  <label>Seleziona tutte</label>
                </div>
                <div class="grid grid-cols-2 gap-1">
                  <% ["vegano", "glutine"].each do |preferenza| %>
                    <div class="form-checkbox-div">
                      <%= check_box_tag 'preferenze[]', preferenza, params[:preferenze]&.include?(preferenza), class:"checkbox", data: { search_target: "preferenzaCheckbox" } %>
                      <label><%= preferenza.capitalize %></label>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>


            <div class="actions pt-4">
              <%= f.button "Cerca", type: "submit", :class=> "btn btn-default" %>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
<% end %>

<style>

</style>