
<%= render "search/form"%>
<h1 class="text-center"><%= pluralize(@menus.count,"Result")%></h1>

<div class="container">
  <table class="table table-dark table-striped">
    <thead>
      <tr>
        <th><%= sort_link(@q, :titolo, "Titolo", default_order: :asc)%> </th>
        <th><%= sort_link(@q, :allergeni, "Allergeni")%></th>
        <th><%= sort_link(@q, :preferenze_alimentari, "Preferenze alimentari")%></th>
        <th><%= sort_link(@q, :min_persone, "Numero minimo di persone")%></th>
        <th><%= sort_link(@q, :max_persone, "Numero massimo di persone")%></th>
      </tr>
    </thead>
    <tbody>
      <% @menus.each do |menu| %>
        <tr>
          <td><%= link_to menu.titolo, menu %></td>
          <td><%= menu.allergeni %></td>
          <td><%= menu.preferenze_alimentari %></td>
          <td><%= menu.min_persone %></td>
          <td><%= menu.max_persone %></td>
        </tr>
      <% end %>
    </tbody>  
  </table>    

</div>