<%= render partial: "shared_partials/mini_header" %>

<% if @users.any? %>
    <% @users.each do |user| %>
        <% unless user.admin? %>
            <div>
                <%= user.email %>
                <%= user.nome %>
                <%= user.ruolo %>
                <%= link_to "Show", profile_path(user.id) %>
                <%= link_to "Chatta con l'utente", user_path(user) %>
            </div>
        <% end %>
    <% end %>
<% end %>