<div class="flex justify-center items-center my-[2.5%]">
  <div class="lg:min-w-1/3">
    <div class="card card-content" >
      <h2 class="card-title">Password dimenticata?</h2>
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, data: { turbo: false } }) do |f| %>
          <div class="form">
          <%= render "devise/shared/error_messages", resource: resource %>

          <div class="form-divs">
            <%= f.label :email, class: "label" %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"input w-full" %>
          </div>

          <div class="actions">
            <%= f.button type: "submit", :class => "btn btn-default w-full" do %>
                <p>Invia istruzioni per il reset della password</p>
              <% end %>
          </div>
          </div>

        <% end %>

        <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
