<!-- Mostro le prenotazioni con link alla prenotazione -->
<% if @reservations.empty? %>
  <p>Non hai prenotazioni</p>
<% else %>
  <% if current_user.admin? %>
    <% if @user.present? %>
      <h2 class="page-title">Prenotazioni di <%= @user.nome %> <%= @user.cognome %></h2>
    <% else %>
      <h2 class="page-title">Prenotazioni</h2>
    <% end %>
  <% else %>
    <h2 class="page-title">Le tue prenotazioni</h2>
  <% end %>

  
  <div data-controller="tabs" data-tabs-active-tab-class="-mb-px" class="tabs">
    <div class="tabs-tabs">
      <div class="tab" data-tabs-target="tab" data-action="click->tabs#change:prevent" id="next">
        <a data-action="keydown.left->tabs#previousTab keydown.right->tabs#nextTab keydown.home->tabs#firstTab:prevent keydown.end->tabs#lastTab:prevent"
        >Le tue prossime prenotazioni</a>
      </div>
      <div class="tab" data-tabs-target="tab" data-action="click->tabs#change:prevent" id="canc">
        <a data-action="keydown.left->tabs#previousTab keydown.right->tabs#nextTab keydown.home->tabs#firstTab:prevent keydown.end->tabs#lastTab:prevent"
        >Cancellate</a>
      </div>
      <div class="tab" data-tabs-target="tab" data-action="click->tabs#change:prevent">
        <a data-action="keydown.left->tabs#previousTab keydown.right->tabs#nextTab keydown.home->tabs#firstTab:prevent keydown.end->tabs#lastTab:prevent">Completate</a>
      </div>
      <div class="tab" data-tabs-target="tab" data-action="click->tabs#change:prevent" id="all">
        <a data-action="keydown.left->tabs#previousTab keydown.right->tabs#nextTab keydown.home->tabs#firstTab:prevent keydown.end->tabs#lastTab:prevent">Tutte</a>
      </div>
      <div>
        <input data-action="click->tabs#change" data-id="all" type="text" id="reservationSearch" placeholder="Cerca prenotazione..." class="input">
      </div>
    </div>

    <div class="hidden" data-tabs-target="panel" data-id="next">
      <div class="flex flex-col gap-4">
        <% @next_reservations.each do |reservation| %>
          <%= render partial: 'reservations/reservation_card', locals: { reservation: reservation } %>
        <% end %>
      </div>

    </div>
    <div class="hidden" data-tabs-target="panel" data-id="canc">
      <div class="flex flex-col gap-4">
        <% @cancelled_reservations.each do |reservation| %>
          <%= render partial: 'reservations/reservation_card', locals: { reservation: reservation } %>
        <% end %>
      </div>

    </div>
    <div class="hidden" data-tabs-target="panel" data-id="compl">
      <div class="flex flex-col gap-4">
        <% @completed_reservations.each do |reservation| %>
          <%= render partial: 'reservations/reservation_card', locals: { reservation: reservation } %>
        <% end %>
      </div>
    </div>
    <div class="hidden" data-tabs-target="panel" data-id="all">
      <div class="flex flex-col gap-4" id="reservation-list">
        <% @reservations.each do |reservation| %>
          <%= render partial: 'reservations/reservation_card', locals: { reservation: reservation } %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>



<script>
  document.getElementById('reservationSearch').addEventListener('input', function() {
    var searchValue = this.value.toLowerCase();
    var reservationCards = document.getElementById('reservation-list').children;

    for (var i = 0; i < reservationCards.length; i++) {
      var resCard = reservationCards[i];
      var resText = resCard.textContent.toLowerCase();

      if (resText.includes(searchValue)) {
        resCard.classList.remove('hidden');
      } else {
        resCard.classList.add('hidden');
      }
    }
  });
  
</script>



