<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "App" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <!-- <link rel="manifest" href="/manifest.json"> -->
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload", media: "all" %>
    <%= javascript_importmap_tags %>
    <script src="https://js.stripe.com/v3/"></script>
    
    <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAPS_API_KEY'] %>&libraries=places&callback=initAutocomplete"
      async></script>
    
    <script>
      window.initAutocomplete = function () {
        const event = new Event('google-maps-callback', {
          bubbles: true,
          cancelable: true,
        })

        window.dispatchEvent(event)
      }
    </script>

    <style>
      <%= ".msg-#{current_user&.id}" %> {
        background-color: #90d5ff !important;
        border-color: #90d5ff !important;
      }
      <%= ".cont-#{current_user&.id}" %> {
        display: flex !important;
        justify-content: flex-end !important;
      }
      .message-container p {
        color: black;
      }
    </style>
  </head>

  <body class="container">
    <%= render partial: "shared_partials/notifications", locals: { message: flash[:notice], type: "success" } %>
    <%= render partial: "shared_partials/notifications", locals: { message: flash[:alert], type: "warning" } %>
    <%= render partial: "shared_partials/notifications", locals: { message: flash[:error], type: "danger" } %>
    <%= render partial: "shared_partials/mini_header" %> 

    <%= render partial: "shared_partials/sidebar" %>
    <div class="">
      <%= yield %>
    </div>
    
    <%= javascript_include_tag 'dishes' %>
  </body>
</html>
